
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 10px;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:black;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: white;
    margin-top: 50px;
}

h2 {
    color: white;
    text-align: center ;
}

button {
    cursor: pointer;
}