@font-face {
    font-family: myFont8;
    src: url(./fonts/GeosansLight.ttf);
}

@font-face {
    font-family: myFont10;
    src: url(./fonts/Agreloy.ttf);
}

@font-face {
    font-family: myFont12;
    src: url(/fonts/War\ is\ Over.ttf);
}

@font-face {
    font-family: myFont13;
    src: url(./fonts/CAMPUS\ PERSONAL\ USE.ttf);
}
  
  @font-face {
    font-family: myFont14;
    src: url(./fonts/JudoKidsDemo-Regular.otf);
}

@font-face {
    font-family: myFont15;
    src: url(./fonts/Mom«t___.ttf);
}

@font-face {
    font-family: myFont16;
    src: url(./fonts/JMH\ Typewriter.ttf);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 10px;
}

body {
    font-family: myFont8;
    background-color:black;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
    font-family: myFont16;
}

p {
    color: white;
    margin-top: 50px;
    font-family: myFont8;
}

h2 {
    color: white;
    text-align: center ;
}

button {
    cursor: pointer;
}

footer {
    text-align: center;
    font-family: myFont8;
}